[submodule "limine"]
	path = limine
	url = https://github.com/limine-bootloader/limine.git
	branch = v5.x-branch-binary
	shallow = true
[submodule "Kernel/Framebuffer/flanterm"]
	path = Kernel/Framebuffer/flanterm
	url = https://github.com/mintsuki/flanterm
	shallow = true
